page-welcome {

 #welcome{
     background: color($colors, secondary);
     h1 {
        font-size: 40px;
        margin-top: 50px;
     }
     .marginTop{
         margin-top: 150px;
     }
     .logo{
         height: 100px;
         float: left;
     }
 }
}
